@font-face {
    font-family: 'Hazy Gothic';
    src: url(../fonts/HazyGothicSC-Regular.woff2) format(woff2);
    src: url(../fonts/HazyGothicSC-Regular.woff) format(woff);
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    font-family: 'Hazy Gothic';
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

input,
button {
    padding: 0;
    margin: 0;
    color: inherit;
    background: none;
    border: none;
    font: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.background {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-image: url(../src/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #00000050;
}

nav {
    position: fixed;
    padding: 0 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    color: #FFFFFF;
    border-bottom: 0.1rem solid #00000010;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0em 0em 1em #00000050;
    text-wrap: nowrap;
    z-index: 10;
}

#hitokoto {
    text-align: right;
    text-overflow: ellipsis;
}

.content {
    position: fixed;
    top: 3rem;
    width: 100%;
    height: calc(100vh -3rem);
    box-sizing: border-box;
    z-index: 5;
}

/*----- 简介 -----*/
.side {
    position: fixed;
    padding: 1.5rem;
    width: 23rem;
    top: 3.5rem;
    left: 0.5rem;
    height: calc(100% - 3rem - 1rem);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1rem solid #00000010;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0rem 0rem 1rem #00000050;
    box-sizing: border-box;
}

.side>img {
    margin-bottom: 0.5rem;
    width: 10rem;
    border-radius: 50%;
    box-shadow: 0rem 0rem 1rem #FFFFFF50;
}

.intro {
    color: #FFFFFF;
    padding-top: 2rem;
    height: calc(100% - 10rem);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.intro>h3 {
    margin-top: 0.45rem;
    margin-bottom: 1rem;
}

.intro>span {
    color: #EAEAEA;
}

.intro>ul>li>a {
    font-weight: bold;
    transition: all 0.25s;
}

.intro>ul>li>a:hover {
    color: #00A0FF;
    border-bottom: 0.1em solid;
}

.intro>ul {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding-left: 1em;
}

.intro>ul>li {
    padding-left: 0.25em;
    list-style-type: '❤';
}

.links>a {
    margin-right: 0.25em;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5em;
    background-color: #00000030;
    box-shadow: 0em 0em 1em #FFFFFF10;
    float: left;
    transition: all 0.25s;
}

.links>a:hover {
    color: #E0E0E0;
    background-color: #50505030;
}

.QRcode {
    margin-top: auto;
    display: flex;
    gap: 0.5rem;
    width: 20rem;
}

.QRcode>img {
    width: 9.75rem;
    border-radius: 0.25rem;
}

/*----- 媒体 -----*/
.media {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    z-index: 5;
}

.player {
    padding: 1rem;
    display: block;
    width: 20rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    border: 0.1rem solid #00000010;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0rem 0rem 1rem #00000050;
}

.player>img {
    border-radius: 0.25rem;
}

.player>button {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 50%;
    background-color: #00000030;
    box-shadow: 0em 0em 1em #FFFFFF10;
    float: right;
    transition: all 0.25s;
}

.player>button:hover {
    color: #E0E0E0;
    background-color: #50505030;
    transform: scale(1.1);
}

/*----- 视频播放器 -----*/
.video {
    position: fixed;
    right: 0.5rem;
    bottom: 8.5rem;
    height: 18rem;
    transition: all 0.25s;
}

.video-mask {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #00000090;
    opacity: 0;
    z-index: 6;
    transition: opacity 0.25s;
}

.video>img {
    width: 100%;
    opacity: 1;
    transition: opacity 0.25s;
}

.video>h3 {
    float: left;
}

.video>iframe {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: 0.25rem;
    transition: opacity 0.25s;
}

.video.stretch {
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 50rem;
    height: 32.625rem;
    z-index: 7;
}

.video.stretch+.video-mask {
    display: block;
    opacity: 1;
}

.video.stretch>img {
    margin-top: 0.5rem;
    opacity: 0;
}

.video.stretch>iframe {
    opacity: 1;
    width: 50rem;
    height: 28.125rem;
}

/*----- 音乐播放器 -----*/
.music {
    height: 7.5rem;
}

.music>img {
    margin-right: 1rem;
    height: 100%;
    float: left;
}